<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abhacreateverifyandroid"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".verify.MobileLinkedABHAActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".verify.VerifyMobileOTPActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".verify.VerifyMobileNumberActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".AbhaPatientProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".verify.VerifyOTPActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".verify.AuthModeActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".verify.AbhaVerifyActivity"
            android:exported="true"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" >
        </activity>
        <activity
            android:name=".AbhaAddressSuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" >
        </activity>
        <activity
            android:name=".CustomAbhaAddressActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".AbhaAddressActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".PatientBioActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".AbhaOTPActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".AbhaMobileActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".AadhaarOTPActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".DemographicActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".AuthModeActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar" />
        <activity
            android:name=".CreateAbhaActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar">
        </activity>
        <activity
            android:name=".DemographicsManualOrQRScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ScannedAadhaarInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar"/>
        <activity
            android:name=".AadhaarQRScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Abhacreateverifyandroid.NoActionBar">
            <!-- comment the following intent filter if you want to use this activity as a library -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>